<thead>
  <tr class="head">
    <th><span class="trn">token</span><div class="trn">token</div></th>
    <th><span class="trn">change</span><div class="trn">change</div></th>
    <th><span class="trn">daily</span><div class="trn">daily</div></th>
    <th><span class="trn">weekly</span><div class="trn">weekly</div></th>
    <th><span class="trn">bid</span></span><div class="trn">bid</div></th>
    <th><span class="trn">offer</span></span><div class="trn">offer</div></th>
  </tr>
</thead>
<tbody>
  <%
    pairVolumes.forEach(function(pairVolume){
      if(pairVolume.percentChange24h > 0) {
        color   = 'buy';
        sign    = '+'
        percent = Number(pairVolume.percentChange24h).toFixed(2) + '%';
      } else if(pairVolume.percentChange24h < 0) {
        color   = 'sell';
        sign    = '';
        percent = Number(pairVolume.percentChange24h).toFixed(2) + '%';
      } else {
        color   = 'neutral';
        sign    = '+';
        percent = Number(pairVolume.percentChange24h).toFixed(2) + '%';
      }

      percentage = '<span class="' + color + '">' + sign + percent + '</span>';
  %>
    <tr>
      <td><a href="javascript:;" onclick="bundle.Cryptex.selectTokenAndBase('<%= pairVolume.token.addr %>','<%= pairVolume.base.addr %>');"><%= pairVolume.token.name %></a></td>
      <td class="align-right"><%= percentage %></td>
      <td class="align-right"><%= bundle.utility.weiToEth(pairVolume.volumes[1], bundle.Cryptex.getDivisor(pairVolume.token)) %></td>
      <td class="align-right"><%= bundle.utility.weiToEth(pairVolume.volumes[0], bundle.Cryptex.getDivisor(pairVolume.token)) %></td>
      <td class="align-right"><%= pairVolume.bid ? pairVolume.bid.toNumber().toFixed(5) : '' %></td>
      <td class="align-right padding-right"><%= pairVolume.ask ? pairVolume.ask.toNumber().toFixed(5) : '' %></td>
    </tr>
  <% }) %>
</tbody>